<h1>Add CD Title</h1>

<p>Add one here:</p>

<form action="/list_titles" method="post">
  <label for="title">CD title:</label>
  <input id="title" name="title" type="text">
  <button type="submit">Add CD</button>
</form>
